body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "FuturaDemiC";
  src: url(assets/FuturaDemiC.ttf);
}

@font-face {
  font-family: "FuturaBookC";
  src: url(assets/FuturaBookC.ttf);
}

@font-face {
  font-family: "Yeseva";
  src: url(assets/YesevaOne-Regular.ttf);
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 83px;
  background-color: #131313;
}

.top-menu .header-text {
  margin-top: 37px;
  margin-left: 82px;
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.top-menu ul {
  margin-top: 19px;
  font-family: "FuturaBookC";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 580px;
  color: white;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-menu ul li:nth-child(1) {
  color: #E3B873;
}

.top-menu .number {
  margin-top: 37px;
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873;
}

.top-menu .request-call {
  margin-top: 25px;
  margin-right: 100px;
  width: 161px;
  height: 37px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 4px;
  border: none;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.top-black {
  width: 100%;
  height: 1781px;
  background-color: #131313;
  margin-top: -40px;
}

.top-black .left-block-instagram {
  float: left;
  clear: left;
  width: 82px;
  height: 707px;
  background: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-black .left-block-instagram p {
  font-family: "FuturaBookC";
  font-size: 14px;
  line-height: 16px;
  color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.top-black .left-block-instagram .insta-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top-black .left-block-instagram .line {
  width: 51px;
  height: 1px;
  margin-top: 62px;
  margin-left: 14px;
  background-color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.top-black .top-image {
  width: 100%;
  height: 707px;
  background-image: url(images/1322e77c0316c416f2e0373bae5eafc5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-black .top-image .top-image-cover {
  width: 100%;
  height: 707px;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-black .top-image .top-image-cover p:nth-child(1) {
  padding-top: 250px;
  padding-left: 150px;
  font-family: "Yeseva";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.top-black .top-image .top-image-cover p:nth-child(2) {
  padding-left: 150px;
  font-family: "FuturaBookC";
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

.top-black .top-image .top-image-cover span {
  color: #E3B873;
}

.top-black .top-image .top-image-cover button:nth-child(3) {
  margin-left: 70px;
  width: 207px;
  height: 51px;
  background: #E3B873;
  border: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

.top-black .top-image .top-image-cover button:nth-child(4) {
  margin-left: 15px;
  width: 207px;
  height: 51px;
  background: none;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

.top-black .top-image .top-image-cover .button-scroll-down {
  width: 247px;
  height: 97px;
  background-color: #131313;
  margin-top: 90px;
}

.top-black .top-image .top-image-cover .button-scroll-down p {
  padding-top: 40px;
  padding-left: 30px;
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
}

.top-black .top-image .top-image-cover .button-scroll-down img {
  position: relative;
  left: 180px;
  top: -38px;
}

.top-black .completed-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-black .completed-projects div .mobile-img {
  display: none;
}

.top-black .completed-projects h2 {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}

.top-black .completed-projects p {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

.top-black .completed-projects div h2:nth-child(1) {
  margin-top: 200px;
}

.top-black .completed-projects div h2:nth-child(1),
.top-black .completed-projects h2:nth-child(4),
.top-black .completed-projects h2:nth-child(8),
.top-black .completed-projects p:nth-child(2),
.top-black .completed-projects p:nth-child(5),
.top-black .completed-projects p:nth-child(9),
.top-black .completed-projects img:nth-child(12) {
  margin-left: 100px;
}

.top-black .completed-projects div h2:nth-child(6),
.top-black .completed-projects h2:nth-child(10),
.top-black .completed-projects p:nth-child(7),
.top-black .completed-projects p:nth-child(11) {
  margin-left: 291px;
}

.top-black .completed-projects div h2:nth-child(6) {
  font-family: "Yeseva";
  font-size: 24px;
  margin-top: -133px;
}

.top-black .completed-projects div h2:nth-child(8) {
  font-family: "Yeseva";
  font-size: 24px;
  margin-top: 70px;
}

.top-black .completed-projects div h2:nth-child(10) {
  font-family: "Yeseva";
  font-size: 24px;
  margin-top: -102px;
}

.top-black .completed-projects div h2:nth-child(1),
.top-black .completed-projects h2:nth-child(4) {
  font-family: "Yeseva";
  font-size: 24px;
}

.top-black .completed-projects img:nth-child(12) {
  margin-top: 75px;
}

.top-black .image-examples {
  margin-top: 110px;
  padding-left: 50px;
  width: 622px;
}

.top-black .image-examples ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.top-black .image-examples ul li p {
  color: #E3B873;
}

.top-black .image-examples ul li:nth-child(1) p {
  text-decoration: underline;
}

.top-black .image-examples img:nth-child(3) {
  position: relative;
  left: 741px;
  top: -567px;
}

.top-black .image-examples img:nth-child(4) {
  position: relative;
  left: 630px;
  top: -775px;
}

.top-black .online-control {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: -530px;
}

.top-black .online-control div:nth-child(1) {
  margin: 0 auto;
}

.top-black .online-control p {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: -30px;
}

.top-black .video {
  width: 739px;
  margin: 0 auto;
  position: relative;
  right: 100px;
}

.top-black .video img {
  position: relative;
  right: -384px;
  bottom: 365px;
}

.top-white {
  width: 100%;
  height: 2293px;
  background-color: white;
}

.top-white .video-description {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
  margin-top: 300px;
}

.top-white .inputs {
  width: 770px;
  margin: 0 auto;
  position: relative;
  right: -75px;
  top: 80px;
}

.top-white .inputs input {
  border: none;
  border-bottom: 2px solid #c3c3c3;
  color: #131313;
  font-family: "FururaBookC";
  font-size: 1.1em;
  margin-right: 40px;
}

.top-white .inputs button {
  width: 161px;
  height: 37px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 4px;
  border: none;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.top-white .white-checkbox {
  width: 300px;
  margin: 0 auto;
  margin-top: 120px;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}

.top-white .white-checkbox .input {
  background: #E3B873;
}

.top-white .types-repair-image {
  width: 180px;
  margin: 0 auto;
  margin-top: 150px;
}

.top-white .types-repair-image p {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.top-white .types-repair-image img {
  margin-left: 33px;
}

.top-white .types-of-repair {
  width: 1236px;
  height: 608px;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-white .types-of-repair .image {
  width: 392px;
  height: 421px;
}

.top-white .types-of-repair .image p {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  padding-top: 20px;
  padding-left: 30px;
}

.top-white .types-of-repair .image ul {
  margin-left: -7px;
  list-style-type: none;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.top-white .types-of-repair .image button {
  width: 228px;
  height: 54px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.top-white .types-of-repair .image-1 {
  background: url("images/image.png");
}

.top-white .types-of-repair .image-2 {
  background: url("images/Mask Group (3).png");
}

.top-white .types-of-repair .image-3 {
  background: url("images/Mask Group (4).png");
}

.top-white .types-of-repair .white-block {
  width: 330px;
  height: 286px;
  margin: 0 auto;
  position: relative;
  top: 300px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  z-index: 1;
}

.top-white .measurment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-white .measurment img {
  margin-top: 100px;
}

.top-white .measurment .black-form {
  width: 509px;
  height: 506px;
  background-color: #131313;
  margin-top: 230px;
  margin-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-white .measurment .black-form p {
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.top-white .measurment .black-form input {
  width: 408px;
  border: none;
  background: none;
  border-bottom: 1px solid #c3c3c3;
  color: #FFFFFF;
  font-family: "FururaBookC";
  font-size: 1.1em;
  margin-left: 49px;
  margin-bottom: 48px;
}

.top-white .measurment .black-form ::-webkit-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.top-white .measurment .black-form :-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.top-white .measurment .black-form ::-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.top-white .measurment .black-form ::placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.top-white .measurment .black-form .check-2 {
  position: relative;
  right: 195px;
  bottom: 40px;
}

.top-white .measurment .black-form label {
  width: 300px;
  margin: 0 auto;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  position: relative;
  right: 30px;
  bottom: 105px;
}

.top-white .measurment .black-form button {
  width: 213px;
  height: 51px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 250px;
  margin-top: 35px;
}

.top-white .help-save img {
  position: absolute;
  top: 4150px;
  right: 490px;
}

.top-white .help-save p {
  position: absolute;
  top: 4150px;
  right: 280px;
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.image-styles {
  width: 100%;
  height: 864px;
  background: url("images/Component 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image-styles h2 {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  margin-left: 100px;
  margin-top: 300px;
}

.image-styles ul {
  font-family: "FuturaBookC";
  font-weight: 50;
  font-size: 20px;
  line-height: 34px;
  list-style-type: none;
  color: #FFFFFF;
  margin-left: 65px;
}

.image-styles ul li:nth-child(1) {
  color: #E3B873;
  text-decoration: underline;
}

.image-styles div:nth-child(2) {
  width: 755px;
}

.image-styles div:nth-child(2) img:nth-child(1) {
  position: relative;
  top: -40px;
  right: 40px;
}

.image-styles div:nth-child(2) img:nth-child(2) {
  position: relative;
  top: -380px;
}

.image-styles div:nth-child(2) img:nth-child(4) {
  position: relative;
  top: -340px;
}

.image-styles div:nth-child(2) img:nth-child(3) {
  position: relative;
  top: -270px;
  right: 40px;
}

.white-design-project {
  width: 100%;
  height: 500px;
}

.white-design-project .design-progect-img {
  width: 665px;
  margin: 0 auto;
}

.white-design-project .design-progect-img p:nth-child(1) {
  margin-top: 160px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #363636;
}

.white-design-project .design-progect-img img {
  padding-left: 268px;
}

.white-design-project .design-progect-img p:nth-child(3) {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}

.white-design-project .repair-packs {
  width: 1236px;
  height: 608px;
  margin: 0 auto;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.white-design-project .repair-packs .image {
  width: 392px;
  height: 421px;
}

.white-design-project .repair-packs .image p {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  padding-top: 20px;
  padding-left: 30px;
}

.white-design-project .repair-packs .image ul {
  margin-left: -7px;
  list-style-type: none;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.white-design-project .repair-packs .image button {
  width: 228px;
  height: 54px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.white-design-project .repair-packs .image-4 {
  background: url("images/img-4.png");
}

.white-design-project .repair-packs .image-5 {
  background: url("images/img-5.png");
}

.white-design-project .repair-packs .image-6 {
  background: url("images/img-6.png");
}

.white-design-project .repair-packs .white-block-1 {
  width: 330px;
  height: 211px;
  margin: 0 auto;
  position: relative;
  top: 300px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  z-index: 1;
}

.white-design-project .repair-packs .white-block-2 {
  width: 330px;
  height: 286px;
  margin: 0 auto;
  position: relative;
  top: 300px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  z-index: 1;
}

.white-design-project .repair-packs .white-block-3 {
  width: 330px;
  height: 414px;
  margin: 0 auto;
  position: relative;
  top: 300px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  z-index: 1;
}

.black-wrapper {
  width: 100%;
  height: 2000px;
  background-color: #131313;
  position: absolute;
  display: none;
  z-index: -1;
}

.black-steps {
  width: 100%;
  height: 1915px;
  background-color: #131313;
}

.black-steps .black-steps-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.black-steps .black-steps-wrapper div:nth-child(1) {
  margin-top: 450px;
  margin-left: 75px;
}

.black-steps .black-steps-wrapper div:nth-child(1) h2 {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}

.black-steps .black-steps-wrapper div:nth-child(1) p:nth-child(1) {
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.black-steps .black-steps-wrapper div:nth-child(1) p:nth-child(3) {
  font-family: "Yeseva One";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 50px;
}

.black-steps .black-steps-wrapper div:nth-child(1) p:nth-child(4) {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: #E3B873;
}

.black-steps .black-steps-wrapper div:nth-child(1) p:nth-child(5) {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.black-steps .black-steps-wrapper div:nth-child(1) img {
  padding-top: 150px;
}

.black-steps .black-steps-wrapper div:nth-child(2) {
  margin-top: 500px;
}

.black-steps .black-steps-wrapper div:nth-child(2) .numbers {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-decoration-color: #E3B873;
          text-decoration-color: #E3B873;
  color: #FFFFFF;
}

.black-steps .black-steps-wrapper div:nth-child(2) ul:nth-child(1) li:nth-child(1) {
  position: relative;
  left: -340px;
}

.black-steps .black-steps-wrapper div:nth-child(2) ul:nth-child(1) li:nth-child(2) {
  position: relative;
  left: 0px;
  bottom: 102px;
}

.black-steps .black-steps-wrapper div:nth-child(2) ul:nth-child(1) li:nth-child(3) {
  position: relative;
  left: 300px;
  bottom: 210px;
}

.black-steps .black-steps-wrapper div:nth-child(2) ul:nth-child(2) {
  position: relative;
  bottom: 100px;
}

.black-steps .black-steps-wrapper div:nth-child(2) ul:nth-child(2) li:nth-child(1) {
  position: relative;
  left: -340px;
}

.black-steps .black-steps-wrapper div:nth-child(2) ul:nth-child(2) li:nth-child(2) {
  position: relative;
  left: 0px;
  bottom: 95px;
}

.black-steps .black-steps-wrapper div:nth-child(2) ul:nth-child(2) li:nth-child(3) {
  position: relative;
  left: 300px;
  bottom: 182px;
}

.black-steps .black-steps-wrapper div:nth-child(2) ul {
  list-style-type: none;
  display: inline;
}

.black-steps .black-steps-wrapper div:nth-child(2) ul li {
  display: inline;
}

.black-steps .black-steps-wrapper div:nth-child(2) ul li p {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

.black-steps .black-steps-wrapper div:nth-child(2) img {
  position: relative;
  bottom: 280px;
  right: 340px;
}

.black-steps .our-team-img {
  width: 476px;
  margin: 0 auto;
  margin-top: -200px;
}

.black-steps .our-team-img p:nth-child(1) {
  margin-left: -50px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.black-steps .our-team-img img {
  margin-left: 160px;
}

.black-steps .our-team-img p:nth-child(3) {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.black-steps .team-list {
  width: 1236px;
  height: 608px;
  margin: 0 auto;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.black-steps .team-list .image {
  width: 273px;
  height: 357px;
}

.black-steps .team-list .image .white-block-0 p:nth-child(1) {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #181818;
  padding-top: 20px;
}

.black-steps .team-list .image .white-block-0 p:nth-child(2) {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #959595;
  margin-top: -10px;
}

.black-steps .team-list .image button {
  width: 233px;
  height: 44px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.black-steps .team-list .image-7 {
  background: url("images/team-1.png");
}

.black-steps .team-list .image-8 {
  background: url("images/team-2.png");
}

.black-steps .team-list .image-9 {
  background: url("images/team-3.png");
}

.black-steps .team-list .white-block-0 {
  width: 233px;
  height: 137px;
  margin: 0 auto;
  position: relative;
  top: 280px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  z-index: 1;
}

.white-bottom {
  width: 100%;
  height: 1615px;
}

.white-bottom .clients-img {
  width: 560px;
  margin: 0 auto;
  padding-top: 200px;
}

.white-bottom .clients-img p:nth-child(1) {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.white-bottom .clients-img p:nth-child(2) {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  padding-top: 100px;
  margin-right: 20px;
}

.white-bottom .clients-img img {
  margin-left: 215px;
}

.white-bottom .clients-img p:nth-child(4) {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 17px;
  text-align: center;
  color: #363636;
}

.white-bottom .clients {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}

.white-bottom .clients .white-block-clients {
  width: 376px;
  height: 428px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.white-bottom .clients .white-block-clients img {
  padding-left: 20px;
  padding-top: 20px;
}

.white-bottom .clients .white-block-clients h2 {
  padding-left: 120px;
  margin-top: -60px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}

.white-bottom .clients .white-block-clients p {
  margin-left: 20px;
  margin-top: 30px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 27px;
  color: #959595;
}

.white-bottom .clients .white-block-clients div {
  width: 157px;
  height: 54px;
  background-color: #E3B873;
  -webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.white-bottom .clients .white-block-clients div img {
  margin-top: -8px;
}

.white-bottom .clients .white-block-clients div p {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: -33px;
  margin-left: 63px;
  text-transform: uppercase;
}

.white-bottom .clients .white-block-clients div:nth-child(4) {
  margin-top: 40px;
}

.white-bottom .clients .white-block-clients div:nth-child(5) {
  margin-top: -54px;
  margin-left: 158px;
}

.white-bottom .clients .block-1 {
  margin-left: 200px;
}

.white-bottom .clients .block-3 {
  margin-right: 200px;
}

.black-bottom {
  width: 100%;
  height: 954px;
  background-image: url(images/bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.black-bottom .bottom-form {
  width: 883px;
  height: 445px;
  background-color: #181818;
  margin: 0 auto;
  position: relative;
  top: -230px;
}

.black-bottom .bottom-form h2 {
  padding-top: 50px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.black-bottom .bottom-form input {
  width: 231px;
  border: none;
  background: none;
  border-bottom: 1px solid #c3c3c3;
  color: #FFFFFF;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-left: 49px;
}

.black-bottom .bottom-form .check-3 {
  width: 20px;
  position: relative;
  top: 80px;
  left: -470px;
}

.black-bottom .bottom-form p {
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  position: relative;
  top: 100px;
  top: 36px;
  left: 350px;
}

.black-bottom .bottom-form input:nth-child(2) {
  margin-left: 210px;
  margin-top: 50px;
}

.black-bottom .bottom-form input:nth-child(4) {
  width: 520px;
  margin-left: 210px;
  margin-top: 40px;
}

.black-bottom .bottom-form ::-webkit-input-placeholder {
  font-family: "FuturaMediumC";
  font-weight: lighter;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.black-bottom .bottom-form :-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-weight: lighter;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.black-bottom .bottom-form ::-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-weight: lighter;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.black-bottom .bottom-form ::placeholder {
  font-family: "FuturaMediumC";
  font-weight: lighter;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.black-bottom .bottom-form button {
  width: 200px;
  height: 51px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  top: 70px;
  left: 350px;
}

.black-bottom .contact {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  margin-top: -200px;
}

.black-bottom .social-media-img {
  width: 78px;
  margin: 0 auto;
  margin-top: 30px;
}

.black-bottom .social-media-img img:nth-child(1) {
  margin-right: 10px;
}

.black-bottom .map {
  width: 985px;
  height: 526px;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url(images/map.png);
}

.bottom-menu {
  width: 100%;
  height: 132px;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-menu .footer-text {
  margin-top: 57px;
  margin-left: 82px;
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.bottom-menu ul {
  margin-top: 39px;
  font-family: "FuturaBookC";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 580px;
  color: white;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bottom-menu ul li:nth-child(1) {
  color: #E3B873;
}

.bottom-menu .number {
  margin-top: 57px;
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873 !important;
}

.bottom-menu .request-call {
  margin-top: 45px;
  margin-right: 100px;
  width: 161px;
  height: 37px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 4px;
  border: none;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .top-menu .header-text {
    margin-left: 20px;
  }
  .top-menu ul {
    display: none;
  }
  .top-menu .number {
    color: white;
    margin-right: 20px;
  }
  .top-menu .request-call {
    display: none;
  }
  .left-block-instagram {
    display: none !important;
  }
  .top-black {
    width: 100%;
    height: 2086px;
    background-color: #131313;
  }
  .top-black .left-block-instagram {
    display: none;
  }
  .top-black .top-image .top-image-cover p:nth-child(1) {
    padding-left: 40px;
    font-size: 26px;
    line-height: 37px;
  }
  .top-black .top-image .top-image-cover p:nth-child(2) {
    padding-left: 40px;
  }
  .top-black .top-image .top-image-cover .button-scroll-down {
    display: none;
  }
  .top-black .top-image .top-image-cover button:nth-child(3) {
    width: 338px;
    height: 51px;
    background: #E3B873;
    border: #E3B873;
    -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    font-family: "FuturaDemiC";
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
  }
  .top-black .top-image .top-image-cover button:nth-child(4) {
    width: 338px;
    height: 51px;
    background: none;
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2px;
    font-family: "FuturaDemiC";
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 70px;
  }
  .top-black .completed-projects div {
    width: 100%;
    margin: 0 auto;
  }
  .top-black .completed-projects div .mobile-img {
    display: block;
    width: 100%;
    height: 340px;
    margin: 0 auto;
    background-image: url(images/top-image-m.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .top-black .completed-projects div .mobile-img img:nth-child(1) {
    display: none;
  }
  .top-black .completed-projects div .mobile-img img:nth-child(2) {
    display: none;
  }
  .top-black .completed-projects div h2:nth-child(1) {
    text-align: center;
    font-size: 28px;
    line-height: 37px;
    margin: 0;
    margin-top: 50px;
  }
  .top-black .completed-projects div p:nth-child(2) {
    text-align: center;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
  }
  .top-black .completed-projects div p {
    font-size: 14px;
    line-height: 19px;
  }
  .top-black .completed-projects div h2:nth-child(6) {
    margin-top: -107px;
  }
  .top-black .completed-projects h2:nth-child(4), .top-black .completed-projects h2:nth-child(8) {
    margin-left: 40px;
  }
  .top-black .completed-projects div h2:nth-child(10) {
    margin-top: -91px;
  }
  .top-black .completed-projects p:nth-child(5), .top-black .completed-projects p:nth-child(9) {
    margin-left: 40px;
  }
  .top-black .completed-projects img:nth-child(12) {
    display: none;
  }
  .top-black .completed-projects .image-examples {
    display: none;
  }
  .top-black .online-control {
    margin-top: 50px;
  }
  .top-black .online-control p {
    font-size: 25px;
    line-height: 30px;
  }
  .top-black .online-control img {
    margin-left: 20px;
  }
  .top-black .video {
    width: 100%;
    margin-top: 60px;
    right: 0;
  }
  .top-black .video video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .top-black .video img {
    display: none;
  }
  .top-white {
    width: 100%;
    height: 838px;
    background-color: #131313;
  }
  .top-white .video-description {
    font-family: "FuturaBookC";
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: white;
    margin-top: 0px;
  }
  .top-white .inputs {
    width: 100%;
    margin: 0 auto;
    position: relative;
    right: 0;
    top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-white .inputs input {
    border: none;
    border-bottom: 2px solid #c3c3c3;
    color: #131313;
    font-family: "FururaBookC";
    font-size: 1.1em;
    margin-bottom: 100px;
    margin-right: 0;
    background-color: #131313;
  }
  .top-white .inputs button {
    width: 340px;
    height: 51px;
    margin: 0 auto;
    margin-top: 40px;
    background: #E3B873;
    -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    font-family: "FuturaDemiC";
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .top-white .white-checkbox label {
    font-family: "FuturaBookC";
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .top-white .types-of-repair {
    width: 100%;
    height: 608px;
    margin: 0 auto;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-white .types-of-repair .image {
    width: 392px;
    height: 421px;
    margin: 0 auto;
    margin-bottom: 200px;
  }
  .top-white .types-of-repair .image p {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-top: 20px;
    padding-left: 30px;
  }
  .top-white .types-of-repair .image ul {
    margin-left: -7px;
    list-style-type: none;
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 25px;
    color: #959595;
  }
  .top-white .types-of-repair .image button {
    width: 228px;
    height: 54px;
    background: #E3B873;
    -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .top-white .types-of-repair .image-1 {
    background: url("images/image.png");
  }
  .top-white .types-of-repair .image-2 {
    background: url("images/Mask Group (3).png");
  }
  .top-white .types-of-repair .image-3 {
    background: url("images/Mask Group (4).png");
  }
  .top-white .types-of-repair .white-block {
    width: 330px;
    height: 286px;
    margin: 0 auto;
    position: relative;
    top: 300px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    z-index: 1;
  }
  .top-white .measurment {
    display: none;
  }
  .top-white .help-save {
    display: none;
  }
  .image-styles {
    width: 100%;
    height: 864px;
    background: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-top: 2000px;
  }
  .image-styles h2 {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin-left: 100px;
    margin-top: 300px;
  }
  .image-styles ul {
    display: none;
  }
  .image-styles div:nth-child(2) {
    width: 755px;
  }
  .image-styles div:nth-child(2) img:nth-child(1) {
    position: static;
    top: 0px;
    right: 0px;
    width: 354px;
    margin-left: 50px;
  }
  .image-styles div:nth-child(2) img:nth-child(2) {
    display: none;
  }
  .image-styles div:nth-child(2) img:nth-child(4) {
    display: none;
  }
  .image-styles div:nth-child(2) img:nth-child(3) {
    display: none;
  }
  .white-design-project .design-progect-img {
    width: 100%;
    margin: 0 auto;
  }
  .white-design-project .design-progect-img p:nth-child(1) {
    margin-top: 160px;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .white-design-project .design-progect-img img {
    padding-left: 180px;
  }
  .white-design-project .design-progect-img p:nth-child(3) {
    font-family: "FuturaBookC";
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
  }
  .white-design-project .repair-packs {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .white-design-project .repair-packs div .image-4, .white-design-project .repair-packs div .image-5, .white-design-project .repair-packs div .image-6 {
    margin: 0 auto;
    margin-bottom: 200px;
  }
  .black-wrapper {
    display: block;
    width: 100%;
    height: 4000px;
    background-color: #131313;
    position: absolute;
    top: 5100px;
  }
  .black-steps .black-steps-wrapper {
    display: none;
  }
  .black-steps .our-team-img {
    width: 100%;
    margin: 0 auto;
    margin-top: 2000px;
  }
  .black-steps .our-team-img p:nth-child(1) {
    margin-left: -50px;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .black-steps .our-team-img img {
    margin-left: 160px;
  }
  .black-steps .our-team-img p:nth-child(3) {
    font-family: "FuturaBookC";
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
  }
  .black-steps .team-list {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .black-steps .team-list .image {
    width: 273px;
    height: 357px;
    margin: 0 auto;
    margin-bottom: 140px;
  }
  .black-steps .team-list .image .white-block-0 p:nth-child(1) {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #181818;
    padding-top: 20px;
  }
  .black-steps .team-list .image .white-block-0 p:nth-child(2) {
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #959595;
    margin-top: -10px;
  }
  .black-steps .team-list .image button {
    width: 233px;
    height: 44px;
    background: #E3B873;
    -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .black-steps .team-list .image-7 {
    background: url("images/team-1.png");
  }
  .black-steps .team-list .image-8 {
    background: url("images/team-2.png");
  }
  .black-steps .team-list .image-9 {
    background: url("images/team-3.png");
  }
  .black-steps .team-list .white-block-0 {
    width: 233px;
    height: 137px;
    margin: 0 auto;
    position: relative;
    top: 280px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    z-index: 1;
  }
  .white-bottom {
    display: none;
  }
  .black-bottom {
    background: #131313;
  }
  .black-bottom .bottom-form {
    width: 100%;
    height: 445px;
    background-color: #131313;
    margin: 0 auto;
    position: relative;
    top: -230px;
  }
  .black-bottom .bottom-form h2 {
    padding-top: 50px;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .black-bottom .bottom-form input {
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid #c3c3c3;
    color: #FFFFFF;
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .black-bottom .bottom-form .check-3 {
    width: 20px;
    position: static;
    margin-left: 20px;
  }
  .black-bottom .bottom-form p {
    font-family: "FuturaBookC";
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    position: static;
    margin-left: 50px;
    margin-top: -48px;
  }
  .black-bottom .bottom-form input:nth-child(2) {
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
  }
  .black-bottom .bottom-form input:nth-child(4) {
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
  }
  .black-bottom .bottom-form ::-webkit-input-placeholder {
    font-family: "FuturaMediumC";
    font-weight: lighter;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
  }
  .black-bottom .bottom-form :-ms-input-placeholder {
    font-family: "FuturaMediumC";
    font-weight: lighter;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
  }
  .black-bottom .bottom-form ::-ms-input-placeholder {
    font-family: "FuturaMediumC";
    font-weight: lighter;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
  }
  .black-bottom .bottom-form ::placeholder {
    font-family: "FuturaMediumC";
    font-weight: lighter;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
  }
  .black-bottom .bottom-form button {
    width: 340px;
    height: 51px;
    background: #E3B873;
    -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    font-family: "FuturaDemiC";
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: static;
    margin-left: 60px;
  }
  .black-bottom .contact {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: -200px;
    position: relative;
    top: 350px;
  }
  .black-bottom .social-media-img {
    width: 78px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    top: 350px;
  }
  .black-bottom .social-media-img img:nth-child(1) {
    margin-right: 10px;
  }
  .black-bottom .map {
    width: 440px;
    height: 305px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 200px;
  }
  footer {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */